<title>角色分配</title>

<div class="layui-fluid">

    <!-- 表单头 -->
    <div class="layui-card">

        <form class="layui-form" lay-filter="userRolefilter" style="padding: 0px 0px 20px 0px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户ID:</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" id="USERID" name="ID" value="{{ d.params.ID || '' }}" placeholder="请输入……" autocomplete="off" class="layui-input" readonly>
                    </script>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户名称:</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="USERNAME" value="{{ d.params.USERNAME || '' }}" placeholder="请输入……" autocomplete="off" class="layui-input" readonly>
                    </script>
                </div>
            </div>

            <div class="layui-input-inline">
                <!--角色列表-->
                <div class="layui-input-inline">
                    <label class="layui-form-label">角色列表：</label>
                    <div class="layui-input-block">
                        <select id="ROLELIST" name="ROLEID" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>

                </div>

                <!--选择按钮-->
                <div class="layui-inline">
                    <button class="layui-btn" id="addUserRole">
                        <i class="layui-icon layui-icon-add-1">添加</i>
                    </button>
                </div>

            </div>

        </form>

    </div>

    <div class="layui-card">
        <h3>已授权角色</h3>
        <div class="layui-card-body">
            <table id="id-tablelist-userRole" lay-filter="tablelist-userRolefilter"></table>
        </div>

    </div>
</div>

<!-- 工具栏模板-明细行操作按钮： -->
<script type="text/html" id="opbaruserRole">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script>
    layui.use(['admin', 'table', 'laydate', 'layer', 'element', 'util'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            element = layui.element;


        //角色列表
        admin.req({
            type: "get",
            url: setter.getrolelist + "?ACTION=100",
            dataType: 'json', //返回的类型
            success: function (resultdata) {
                $.each(resultdata.data, function (index, item) {
                    $('#ROLELIST').append(new Option(item.ROLENAME, item.ID)); // 下拉菜单里添加元素
                });

                layui.form.render("select");

                query();
            }
        });

        //数据列表
        table.render({
            elem: '#id-tablelist-userRole',
            //url: setter.getrolelist + "?ACTION=2014&UserID=" + $('#USERID').val(),
            data: [],
            cols: [[
                { field: 'ID', title: 'ID', hide: false, width: 80 }
                , { field: 'USERID', title: '用户ID', hide: false, width: 100 }
                , { field: 'USERCODE', title: '用户编号', hide: false, width: 100 }
                , { field: 'USERNAME', title: '用户名称', hide: false, width: 150 }
                , { field: 'ROLEID', title: '角色ID', hide: false, width: 100 }
                , { field: 'ROLECODE', title: '角色编号', hide: false, width: 100 }
                , { field: 'ROLENAME', title: '角色名称', hide: false, width: 150 }
                , { fixed: 'right', title: '操作', toolbar: '#opbaruserRole', width: 100 }
            ]],
            page: true,
            limit: 100,
            height: '250',
            text: '对不起，加载出现异常！',
            even: true,
            toolbar: false,
            initSort: {
                field: 'ID' //排序字段，对应 cols 设定的各字段名
                , type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });

        //监听行工具事件
        table.on('tool(tablelist-userRolefilter)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {                
                del(data);
                return false;
            }
        });

        //根据ID删除记录
        del = function (data) {
            var msg = "确认删除记录吗？";
            layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {

                admin.req({
                    type: 'get',
                    url: setter.getrolelist + "?ACTION=2015&USERROLEID="+data.ID,
                    dataType: 'json', //返回的类型
                    success: function (resultdata) {
                        layer.msg(resultdata.msg);
                        layui.table.reload('id-tablelist-userRole');
                    }
                });

            });
        };

        query = function () {
             var myurl = setter.getrolelist + "?ACTION=2014&UserID=" + $('#USERID').val();

            table.reload('id-tablelist-userRole',
                {
                    url: myurl
                });
        }

        //添加用户角色授权
        $("#addUserRole").click(function () {
            var postData =
            {
                ACTION: 2016,
                UserID: $('#USERID').val(),
                RoleID: $('#ROLELIST').val()
            }
            
            admin.req({
                type: 'get',
                url: setter.getrolelist,
                data: postData,
                dataType: 'json', //返回的类型
                success: function (resultdata) {
                    layer.msg(resultdata.msg);
                    layui.table.reload('id-tablelist-userRole');
                }
            });

             return false;
        });

    });
</script>