<title>用户管理</title>

<div class="layui-fluid">

    <div class="layui-card">

        <div class="layui-card-body">
            <table id="id-tablelist-user" lay-filter="filter-tablelist-user"></table>
        </div>

    </div>
</div>

<!-- 工具栏模板-表格头部工具栏： -->
<script type="text/html" id="toolbarUser">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    </div>
</script>

<!-- 工具栏模板-明细行操作按钮： -->
<script type="text/html" id="opbarUser">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="permission">角色分配</a>
</script>

<script type="text/html" id="userstateTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="USERSTATE" value="{{d.USERSTATE}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="userstateSwitch" {{ d.USERSTATE == 1 ? 'checked' : '' }}>
</script>

<script>
    layui.use(['admin', 'table', 'laydate', 'layer', 'element', 'util'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            element = layui.element;

            //aaass

        //数据列表
        table.render({
            elem: '#id-tablelist-user',
            url: setter.getuserlist,
            cols: [
                [{
                    field: 'ID',
                    title: 'ID',
                    hide: false,
                    width: 60
                }, {
                    field: 'USERCODE',
                    title: '用户编号',
                    hide: false,
                    width: 100
                }, {
                    field: 'USERNAME',
                    title: '用户名称',
                    hide: false,
                    width: 150
                }, {
                    field: 'USERSTATE',
                    title: '用户状态',
                    hide: false,
                    width: 100, templet: '#userstateTpl'
                }, {
                    field: 'PASSWORDHASH',
                    title: '密码',
                    hide: true,
                    width: 100
                }, {
                    field: 'SECURITYSTAMP',
                    title: '安全码',
                    hide: true,
                    width: 100
                }, {
                    field: 'EMAIL',
                    title: '电子邮件',
                    hide: false,
                    width: 100
                }, {
                    field: 'EMAILCONFIRMED',
                    title: '电邮确认',
                    hide: true,
                    width: 100
                }, {
                    field: 'PHONENUMBER',
                    title: '联系电话',
                    hide: false,
                    width: 100
                }, {
                    field: 'PHONENUMBERCONFIRMED',
                    title: '电话确认',
                    hide: true,
                    width: 100
                }, {
                    field: 'LOCKOUTENABLED',
                    title: '锁定账户?',
                    hide: true,
                    width: 100
                }, {
                    field: 'LASTLOGINDATE',
                    title: '最后登录时间',
                    hide: false,
                    width: 160
                }, {
                    field: 'LOGINCOUNT',
                    title: '登录次数',
                    hide: false,
                    width: 100
                },
                {
                    field: 'ACCESSFAILEDCOUNT',
                    title: '访问失败次数',
                    hide: false,
                    width: 150
                }
                    , { field: 'USERLEVEL', title: '级别', hide: false, width: 100 }
                    , { fixed: 'right', title: '操作', toolbar: '#opbarUser', width: 200 }
                ]
            ],
            page: true,
            limit: 100,
            height: 'full-100',
            text: '对不起，加载出现异常！',
            even: true,
            toolbar: '#toolbarUser',
            defaultToolbar: ['filter', 'print'],
            initSort: {
                field: 'ID' //排序字段，对应 cols 设定的各字段名
                ,
                type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });

        //头工具栏事件
        table.on('toolbar(filter-tablelist-user)', function (obj) {
            switch (obj.event) {
                case 'add':
                    edit(null);
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(filter-tablelist-user)', function (obj) {
            var data = obj.data;

            if (obj.event === 'edit') {
                edit(data);
                return false;
            }
            else if (obj.event === 'del') {
                if (data.USERLEVEL == 0) {
                    layer.msg("系统内置,不允许删除！");
                    return;
                }
                del(data);
                return false;
            }
            else if (obj.event === 'permission') {
                
                permission(data);
                return false;
            }
        });

        //添加编辑
        edit = function (formData) {
            var ACTION = 0;
            if (formData == null) {
                ACTION = 1;//添加
            }
            else {
                ACTION = 3;//更新
            }

            //打开编辑窗口
            admin.popup({
                id: 'LAY-popup-myuserForm' //定义唯一ID，防止重复弹出
                , title: '编辑用户'
                , type: 1
                , area: ['800px', '600px']
                , success: function (layero, index) {

                    layui.view(this.id).render('mydesk/userForm', formData)
                        .done(function () {

                            form.render(null, 'layui-myuserForm');

                            //监听提交
                             form.on('submit(myuserFrom-submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                var postData = {
                                    ACTION: ACTION,
                                    PostData: data.field
                                };
                                //console.log(JSON.stringify(postData));
                                admin.req({
                                    type: "post",
                                    url: setter.postuser,
                                    data: JSON.stringify(postData),
                                    dataType: 'json', //返回的类型
                                    contentType:"application/json;charset=utf-8",
                                    success: function (resultdata) {
                                        layer.msg(resultdata.msg);
                                        layui.table.reload('id-tablelist-user'); //重载表格

                                        layer.close(index); //执行关闭
                                    }
                                });

                                return false;
                            });//From-submit结束
                        });
                }
            });//popup方法结束
        }

        //删除用户
        del = function (formData) {
            var msg = "确认删除[" + formData.ID + "]用户？删除用户将该用户的配置信息！";
            layer.confirm(msg, function (index) {
                var ACTION = 2;
                var postData = {
                    ACTION: ACTION,
                    PostData: formData
                };
                admin.req({
                    type: "post",
                    url: setter.postuser,
                    data: JSON.stringify(postData),
                    dataType: 'json', //返回的类型
                    contentType: "application/json;charset=utf-8",
                    success: function (resultdata) {
                        layer.msg(resultdata.msg);
                        layui.table.reload('id-tablelist-user'); //重载表格

                        layer.close(index); //执行关闭
                    }
                });
            });
        }

        //角色分配
        permission = function (formData) {
           
            //打开编辑窗口
            //admin.popup({
            //    id: 'LAY-popup-userRole' //定义唯一ID，防止重复弹出
            //    , title: '角色分配'
            //    , type: 1, closeBtn: 1
            //    , area: ['800px', '600px']
            //    , success: function (layero, index) {

            //        layui.view(this.id).render('mydesk/userRole', formData)
            //            .done(function () {

            //                form.render(null, 'userRolefilter');
                            
            //            });
            //    }
            //});//popup方法结束

            layer.open({
                type: 1
                , title: false //不显示标题栏
                , closeBtn: false
                , area: '300px;'
                , shade: 0.8
                , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                , btn: ['火速围观', '残忍拒绝']
                , btnAlign: 'c'
                , moveType: 1 //拖拽模式，0或者1
                , content: layui.view(this.id).render('mydesk/userRole', formData)
                , success: function (layero) {

                }
            });

        }

        //监听开关操作
        form.on('switch(userstateSwitch)', function (obj) {
            var userstate = "-1";
            if (obj.elem.checked) {
                stationstate = "1";
            }
            else {
                stationstate = "0";
            }

            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);

            //var postdata =
            //{
            //    ACTION: 2012,
            //    STATIONNO: this.value,
            //    STATIONSTATE: stationstate
            //};

            //admin.req({
            //    type: "post",
            //    url: setter.stnop + '?ACTION=2012',
            //    data: postdata,
            //    dataType: 'json', //返回的类型
            //    success: function (resultdata) {
            //        layer.msg(resultdata.msg);
            //        layui.table.reload('LAY-tablelist-stn'); //重载表格
            //    }
            //});

        });

    });
</script>
