<!--
菜单名称:菜单功能编号=0000，xxx.html
后台接口：
1）
2）
3）
-->
<title>菜单名称</title>
<div class="layui-fluid">
    <div class="layui-card">
       
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'laydate', 'layer', 'element', 'util'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            util = layui.util,
            element = layui.element;

       
    });
</script>

