<title>产地维护</title>

<div class="layui-fluid">

    <div class="layui-card">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0px;">
            <legend>产地维护</legend>
        </fieldset>

        <form class="layui-form" lay-filter="aaaTest1Fromfilter" style="padding: 20px 0px 20px 0px;">

            <div class="layui-input-inline">
                <!-- 编号 -->
                <div class="layui-input-inline">
                    <label class="layui-form-label">编号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Code" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>


                <!-- 名称 -->
                <div class="layui-input-inline">
                    <label class="layui-form-label">名称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <!-- 简称 -->
                <div class="layui-input-inline">
                    <label class="layui-form-label">简称：</label>
                    <div class="layui-input-block">
                        <input type="text" name="Subdesc" placeholder="" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
            </div>


            <!-- 操作按钮 -->
            <div class="layui-input-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-normal" lay-submit lay-filter="baproducerFormAction">添加</button>
                    <button class="layui-btn" lay-submit lay-filter="baproducerQuery">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
    <div class="layui-card">

        <table id="id-tablelist-baproducer" lay-filter="tablelistbaproducerFilter"></table>
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'laydate', 'layer', 'element', 'util'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            element = layui.element;

        //数据列表
        table.render({
            elem: '#id-tablelist-baproducer',
            url: setter.basic + "?ACTION=100&BasicType=PRODUCER",
            cols: [[
                { field: 'ID', title: 'ID', hide: false, width: 60 }
                , { field: 'PRODUCERNO', title: '编号', hide: false, width: 100 }
                , { field: 'PRODUCERNAME', title: '名称', hide: false, width: 200 }
                , { field: 'PRODUCERSUBDESC', title: '简称', hide: false, width: 150 }
                , { field: 'CREATEDATE', title: '创建时间', hide: false, width: 180 }
                , { field: 'CREATEBY', title: '创建人', hide: false, width: 150 }
            ]],
            page: true,
            limit: 100,
            height: 'full-200',
            even: true,
            toolbar: true,
            initSort: {
                field: 'ID' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });


        //监听搜索
        form.on('submit(baproducerQuery)', function (data) {
            var field = data.field;

            //执行重载
            table.reload('id-tablelist-baproducer', {
                where: field
            });

            return false;

        });

        //保存数据
        form.on('submit(baproducerFormAction)', function (data) {
            var field = data.field;

            if (!data.field.Code) {
                layer.msg("请输入编号!");
                return false;
            }

            if (!data.field.Name) {
                layer.msg("请输入名称!");
                return false;
            }

            if (!data.field.Subdesc) {
                layer.msg("请输入简称");
                return false;
            }

            var msg = "确认添加：【" + data.field.Code + " " + data.field.Name + "】?";
            layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {

                admin.req({
                    type: 'get',
                    url: setter.basic + "?ACTION=101&BasicType=PRODUCER",
                    data: data.field,
                    dataType: 'json', //返回的类型
                    success: function (resultdata) {
                        layer.msg(resultdata.msg);
                        layui.table.reload('id-tablelist-baproducer');
                    }
                });

            });

            return false;

        });

    });
</script>
