<title>移动作业</title>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <form class="layui-form" style="padding: 20px 0 0 0;">
                <div class="layui-form-item">
                    <label class="layui-form-label">托盘编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="PalletNo" required lay-verify="required" autocomplete="off"
                               class="layui-input" value="0">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">起始站台</label>
                    <div class="layui-input-block">
                        <select id="id-StationNo" name="StationNo" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">目标站台</label>
                    <div class="layui-input-block">
                        <select id="id-Destination" name="Destination" lay-verify="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">托盘类型</label>
                    <div class="layui-input-block">
                        <input type="text" name="PalletType" required lay-verify="required" autocomplete="off"
                               class="layui-input" value="0">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">优先级</label>
                    <div class="layui-input-block">
                        <select name="Priority" lay-verify="required">
                            <option value="0" checked>一般</option>
                            <option value="9">紧急</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="moveFormAction">确认移动</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-card">

        <div class="layui-card-body">
            <table id="id-tablelist-movetask" lay-filter="filter-movetasktablelist"></table>
        </div>

    </div>
</div>

<script type="text/html" id="taskstateTpl">
    {{#  if(d.TASKSTATE === '0'){ }}
    <span style="color: skyblue;">新任务</span>
    {{# } else if(d.TASKSTATE === '1'){ }}
    <span style="color: blue;">装货完成</span>
    {{# } else if(d.TASKSTATE === '99'){ }}
    <span style="color: green;">任务结束</span>
    {{#  } else { }}
    {{ d.TASKSTATE }}
    {{#  } }}
</script>

<!-- 工具栏模板-表格头部工具栏： -->
<script type="text/html" id="toolbarmove">
    <a class="layui-btn layui-btn-xs" lay-event="refresh">刷新</a>
</script>

<!-- 工具栏模板-主表行操作按钮： -->
<script type="text/html" id="opbarmove">
    <a class="layui-btn layui-btn-xs" lay-event="over">结束</a>
</script>

<script>
    layui.use(['admin', 'table', 'laydate'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            laydate = layui.laydate,
            form = layui.form,
            element = layui.element;

        //获取站台列表
        admin.req({
            type: "get",
            url: setter.getstnlist,
            dataType: 'json', //返回的类型
            success: function (resultdata) {
                stnlist = resultdata.data;
                $.each(resultdata.data, function (index, item) {

                    if (item.STATIONTYPE == "1") {
                        $('#id-StationNo').append(new Option(item.CONTROLNO, item.CONTROLNO));
                    }

                    if (item.STATIONTYPE == "2") {
                        $('#id-Destination').append(new Option(item.CONTROLNO, item.CONTROLNO));
                    }

                });

                layui.form.render("select");
            }
        });

        form.render();

        //监听提交
        form.on('submit(moveFormAction)', function (data) {
            layer.msg(JSON.stringify(data.field));
            layer.confirm('确认产生移动任务吗？' + data.field.StationNo + '=>' + data.field.Destination, function (index) {
                admin.req({
                    type: 'get',
                    url: setter.projmoverequest + '?ACTION=2013',
                    data: data.field,
                    dataType: 'json', //返回的类型
                    success: function (resultdata) {
                        layer.alert(resultdata.msg);
                        layui.table.reload('id-tablelist-movetask');
                    }
                });
            });

            return false;
        });

        //任务数据列表
        table.render({
            title: '任务列表',
            elem: '#id-tablelist-movetask',
            url: setter.gettasklist + '?ACTION=100&TASKTCLASS=3',
            cols: [[
                { field: 'ID', title: 'ID', false: true, width: 100 }

                , { field: 'TASKNO', title: '任务号', hide: false, width: 100 }
                , { field: 'TASKDATE', title: '任务日期', hide: false, width: 120 }
                , { field: 'TASKTCLASS', title: '任务分类', hide: false, width: 100, templet: '#taskclassTpl' }
                , { field: 'TASKTYPE', title: '任务类型', hide: false, width: 100 }
                , { field: 'TASKSTATE', title: '任务状态', hide: false, width: 100, templet: '#taskstateTpl' }

                , { field: 'PRIORITY', title: '优先级', hide: true, width: 100 }
                , { field: 'RELATENO', title: '关联单号', hide: false, width: 150 }
                , { field: 'PALLETNO', title: '托盘号', hide: false, width: 100 }
                , { field: 'TASKGROUPNO', title: '任务组号', hide: true, width: 100 }
                , { field: 'TASKDESC', title: '任务描述', hide: false, width: 200, style: 'background-color: green; color: #fff;' }
                , { field: 'PRETASKNO', title: '前序任务', hide: true, width: 100 }
                , { field: 'STRATEGYID01', title: '源策略ID', hide: true, width: 100 }
                , { field: 'STRATEGYNAME01', title: '源策略名称', hide: true, width: 100 }
                , { field: 'SOURCEAREA', title: '源区域', hide: false, width: 150, style: 'background-color: #007688; color: #fff;' }
                , { field: 'SOURCE01', title: '源位置', hide: false, width: 150, style: 'background-color: #007688; color: #fff;' }
                , { field: 'SOURCE02', title: '源控制号', hide: false, width: 150, style: 'background-color: #007688; color: #fff;' }
                , { field: 'STRATEGYID02', title: '目标策略ID', hide: true, width: 100 }
                , { field: 'STRATEGYNAME02', title: '目标策略名称', hide: true, width: 100 }
                , { field: 'DESTINATIONAREA', title: '目标区域', hide: false, width: 150, style: 'background-color: #000088; color: #fff;' }
                , { field: 'DESTINATION01', title: '目标位置', hide: false, width: 150, style: 'background-color: #000088; color: #fff;' }
                , { field: 'DESTINATION02', title: '目标控制号', hide: false, width: 150, style: 'background-color: #000088; color: #fff;' }
                , { field: 'TASKORDERDATA', title: '下达信息', hide: true, width: 100 }
                , { field: 'CREATEDATE', title: '创建时间', hide: false, width: 180 }
                , { field: 'CREATEBY', title: '创建人', hide: false, width: 230 }
                , { field: 'STARTDATE', title: '开始时间', hide: false, width: 180 }
                , { field: 'ENDDATE', title: '结束时间', hide: false, width: 180 }
                , { field: 'CANCELDATE', title: '取消时间', hide: false, width: 180 }
                , { field: 'CANCELREASON', title: '取消原因', hide: false, width: 150 }


                , { field: 'TASKMESSAGE', title: '任务消息', hide: false, width: 200 }

                , { field: 'EVENTID', title: '事件ID', hide: false, width: 100 }

                , { field: 'BILLID', title: '单据ID', hide: false, width: 100 }
                , { field: 'BILLID_LINENUM', title: '单据行号', hide: false, width: 100 }

                , { field: 'PALLETID', title: '托盘ID', hide: false, width: 100 }
                , { field: 'PALLETID_LINENUM', title: '托盘行号', hide: false, width: 100 }
                , { field: 'PALLETTYPE', title: '托盘类型', hide: false, width: 100 }

                , { field: 'TRUCKNO_PLAN', title: '运单计划号', hide: true, width: 100 }
                , { field: 'TRUCKNO_OPUSER', title: '操作人计划号', hide: true, width: 100 }
                , { field: 'TRUCKNO', title: '车辆编号', hide: false, width: 100 }
                , { field: 'OPUSER', title: '操作人', hide: false, width: 100 }
                , { field: 'CUSTOMCOL01', title: '属性1', hide: false, width: 100 }
                , { field: 'CUSTOMCOL02', title: '属性2', hide: false, width: 100 }
                , { field: 'CUSTOMCOL03', title: '属性3', hide: false, width: 100 }
                , { field: 'CUSTOMCOL04', title: '属性4', hide: false, width: 100 }
                , { field: 'CUSTOMCOL05', title: '属性5', hide: false, width: 100 }
                , { field: 'CUSTOMCOL06', title: '属性6', hide: false, width: 100 }
                , { field: 'CUSTOMCOL07', title: '属性7', hide: false, width: 100 }
                , { field: 'CUSTOMCOL08', title: '属性8', hide: false, width: 100 }
                , { field: 'CUSTOMCOL09', title: '属性9', hide: false, width: 100 }
                , { field: 'CUSTOMCOL10', title: '属性10', hide: false, width: 100 }
                , { fixed: 'right', title: '操作', toolbar: '#opbarmove', width: 100 }
            ]
            ],
            page: true,
            limit: 100,
            height: 'full-450',
            even: true,
            toolbar: '#toolbarmove',
            initSort: {
                field: 'ID' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });

        //监听行工具事件
        table.on('toolbar(filter-movetasktablelist)', function (obj) {

            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'refresh':
                    table.reload('id-tablelist-movetask');
                    layer.msg('刷新成功！');
                    break;

            };
        })

        //监听行工具事件
        table.on('tool(filter-movetasktablelist)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'over':

                    layer.confirm('确认结束' + data.TASKNO + '任务？', function (index) {
                        taskover(data);
                    });

                    break;
            };
        });

        //结束
        taskover = function (data) {
            var postData = {
                ACTION: 101,
                TASKNO: data.TASKNO,
                TASKOPACTION: '99'
            };

            admin.req({
                type: "get",
                url: setter.taskop,
                data: postData,
                dataType: 'json', //返回的类型
                success: function (resultdata) {
                    layer.msg(resultdata.msg);
                    layui.table.reload('id-tablelist-movetask'); //重载表格
                }
            });
        }

    })
</script>
