<!--
系统参数:菜单功能编号=2036，/apps/wm/sysparams.html
后台接口：
    setter.basic,
    action:2011,2012
1）
2）
3）
备注：获取数据列表（无查询条件），单条记录编辑保存
-->
<title>系统参数</title>
<div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body">
            <table id="sysparams-tablelist" lay-filter="sysparams-tablelist"></table>
        </div>

    </div>
</div>

<script type="text/html" id="sysparams-opbtnbar">
    <a class="layui-btn layui-btn-xs" lay-event="update">修改值</a>
</script>

<script>
    layui.use(['admin', 'table', 'laydate', 'layer', 'element', 'util'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            form = layui.form,
            laydate = layui.laydate,
            layer = layui.layer,
            util = layui.util,
            element = layui.element;


        //表格定义
        table.render({
            elem: '#sysparams-tablelist',
            url: setter.basic + '?ACTION=2011',
            data: [],
            cols: [[
                { field: 'ID', title: 'ID', hide: false, width: 100 }
                , { field: 'PARANAME', title: '参数名称', hide: false, width: 250 }
                , { field: 'PARAVALUE', title: '参数值', edit: "text", hide: false, width: 200, style: 'background-color: blue; color: #fff;' }
                , { field: 'USESTATE', title: '使用状态', hide: false, width: 100 }
                , { field: 'REMARK', title: '备注', hide: false, width: 300 }
                , { title: '操作', width: 200, align: 'center', fixed: 'right', toolbar: '#sysparams-opbtnbar' }
            ]],
            page: true,
            limit: 100,
            height: 'full-150',
            even: true,
            toolbar: true,
            initSort: {
                field: 'ID' //排序字段，对应 cols 设定的各字段名
                , type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });

        //监听行工具事件
        table.on('tool(sysparams-tablelist)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'update') {
                handleEventUpdate(data);
            }

        });

        function handleEventUpdate(data) {
            //alert(data);
            admin.req({
                type: 'get',
                url: setter.basic + "?ACTION=2012",
                data: { "POSTDATA": JSON.stringify(data)},
                dataType: 'json', //返回的类型
                success: function (resultdata) {
                    layer.msg(resultdata.msg);
                    layui.table.reload('sysparams-tablelist');
                }
            });
        }

    });
</script>

