<title>站台设置</title>

<div class="layui-fluid">

    <div class="layui-card">
        <form class="layui-form" style="padding: 20px 0 0 0;">

            <div class="layui-inline">
                <label class="layui-form-label">机台号：</label>
                <div class="layui-input-block">
                    <select id="id-locstn-EQU" name="TECHNO">
                        <option value="">不限</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">站台类型：</label>
                <div class="layui-input-block">
                    <select name="STATIONTYPE">
                        <option value="">不限</option>
                        <option value="1">1-成型机实盘入库站台</option>
                        <option value="2">2-成型机空盘出库站台</option>
                        <option value="3">3-发射机实盘出库站台</option>
                        <option value="4">4-发射机空盘入库站台</option>
                        <option value="5">5-人工站台</option>
                    </select>
                </div>
            </div>
            <!--
     -->
            <div class="layui-inline">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="locstn-search">查询</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

        <div class="layui-card-body">
            <table id="LAY-tablelist-stn" lay-filter="LAY-tablelist"></table>
        </div>
    </div>
</div>

<!-- 工具栏模板： -->
<script type="text/html" id="opbtnbar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="clear">清空工单分配</a>
</script>

<!-- 状态值： -->
<script type="text/html" id="stationstateTpl-bak">
    {{#  if(d.STATIONSTATE === '0'){ }}
    <span style="color: red;">停用</span>
    {{# } else if(d.STATIONSTATE === '1'){ }}
    <span style="color: green;">启用</span>
    {{#  } else { }}
    {{ d.STATIONSTATE }}
    {{#  } }}
</script>

<script type="text/html" id="controlmodelTpl">
    {{#  if(d.CONTROLMODE === 0){ }}
    <span style="color: green;">系统分配</span>
    {{# } else if(d.CONTROLMODE === 1){ }}
    <span style="color: red;">人工分配</span>
    {{#  } else { }}
    {{ d.CONTROLMODE }}
    {{#  } }}
</script>

<script type="text/html" id="iscloseTpl">
    {{#  if(d.ISCLOSE === 0){ }}
    <span style="color: green;">正常</span>
    {{# } else if(d.ISCLOSE === 9){ }}
    <span style="color: red;">关闭</span>
    {{#  } else { }}
    {{ d.ISCLOSE }}
    {{#  } }}
</script>

<script type="text/html" id="emexitTpl">
    {{#  if(d.EMEXIT === 0){ }}
    <span style="color: green;">正常出口</span>
    {{# } else if(d.EMEXIT === 1){ }}
    <span style="color: red;">紧急出口</span>
    {{#  } else { }}
    {{ d.EMEXIT }}
    {{#  } }}
</script>

<!-- 站台类型： -->
<script type="text/html" id="stationstypeTpl">
    {{#  if(d.STATIONTYPE === '1'){ }}
    <span style="color: red;">成型机实盘入库站台</span>
    {{# } else if(d.STATIONTYPE === '2'){ }}
    <span style="color: green;">成型机空盘出库站台</span>
    {{# } else if(d.STATIONTYPE === '3'){ }}
    <span style="color: red;">发射机实盘出库站台</span>
    {{# } else if(d.STATIONTYPE === '4'){ }}
    <span style="color: green;">发射机空盘入库站台</span>
    {{# } else if(d.STATIONTYPE === '5'){ }}
    <span style="color: blue;">人工站台</span>
    {{#  } else { }}
    {{ d.STATIONSTATE }}
    {{#  } }}
</script>

<script type="text/html" id="stationstateTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="STATIONSTATE" value="{{d.STATIONNO}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="stationstateSwitch" {{ d.STATIONSTATE == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="emexitSwitchTpl">
    <!-- 紧急出口设置 -->
    <input type="checkbox" name="EMEXIT" value="{{d.STATIONNO}}" title="紧急出口" lay-filter="emexitSwitch" {{ d.EMEXIT == 1 ? 'checked' : '' }}>
</script>

<!-- 特殊显示站台描述 -->
<script type="text/html" id="locstn_stationdescTpl">
    <span style="color: red;font-size:18px;"> {{ d.STATIONDESC }}</span>
</script>

<!-- 机台编号 -->
<script type="text/html" id="locstn_technoTpl">
    <span style="color: red;font-size:18px;"> {{ d.TECHNO }}</span>
</script>

<script>
    layui.use(['admin', 'table', 'laydate'], function () {
        var $ = layui.$,
            setter = layui.setter,
            admin = layui.admin,
            table = layui.table,
            laydate = layui.laydate,
            form = layui.form,
            element = layui.element;

        form.render();

        admin.req({
            type: "get",
            url: setter.projmesoprequest + "?ACTION=100104",
            dataType: 'json', //返回的类型
            success: function (resultdata) {
                itemlist = resultdata.data;
                $("#id-locstn-EQU option").remove();
                $.each(resultdata.data, function (index, item) {
                    $('#id-locstn-EQU').append(new Option(item.EQU_NAME + "  " + item.EQU_ID, item.EQU_ID)); // 下拉菜单里添加元素
                });

                layui.form.render("select");
            }
        });

        //数据列表
        table.render({
            elem: '#LAY-tablelist-stn',
            //url: setter.getstnlist + '&STATIONTYPE='+stntype,
            data: [],
            cols: [[
                //{type: 'checkbox', fixed: 'left'},
                { field: 'ID', title: 'ID', hide: true, width: 100 }
                , { field: 'STATIONNO', title: '站台号', hide: true, width: 100 }
                , { field: 'STATIONDESC', title: '站台描述', hide: false, width: 200, templet: '#locstn_stationdescTpl' }
                , { field: 'STATIONTYPE', title: '站台类型', hide: true, width: 100/*, templet: '#stationstypeTpl'*/ }
                , { field: 'CONTROLNO', title: '控制号', hide: false, width: 100, style: 'background-color: #000088; color: #fff;' }
                , { field: 'VSTATIONNO', title: '虚拟站台', hide: true, width: 160 }
                , { field: 'RELATENO', title: '关联站台', hide: false, width: 100, style: 'background-color: blue; color: #fff;' }
                , { field: 'GROUPNO', title: '通道号', hide: true, width: 100 }
                , { field: 'AREANO', title: '区域号', hide: false, width: 100 }
                , { field: 'TECHNO', title: '工艺段号', hide: false, width: 100, templet:'#locstn_technoTpl' }
                , { field: 'BUFFERNO', title: '缓存号', hide: true, width: 100 }
                , { field: 'STATIONNGNO', title: '剔除口', hide: true, width: 100 }
                , { field: 'STATIONCHECKNO', title: '检查站台', hide: true, width: 100 }

                , { field: 'LOCATIONY', title: '位置Y', hide: true, width: 100 }
                , { field: 'LOCATIONZ', title: '位置Z', hide: true, width: 100 }
                , { field: 'TARGETX', title: '目标位置X', hide: true, width: 100 }
                , { field: 'TARGETY', title: '目标位置X', hide: true, width: 100 }
                , { field: 'TARGETZ', title: '目标位置X', hide: true, width: 100 }
                , { field: 'STATIONSTATE', title: '站台状态', hide: false, width: 100, templet: '#stationstateTpl' }
                , { field: 'WORNO', title: '工单号', hide: false, width: 200 }
                , { field: 'WORLINE', title: '工单行', hide: true, width: 100 }
                , { field: 'WORSTATE', title: '工单状态', hide: true, width: 100 }
                , { field: 'P01', title: '工单品牌信息', hide: false, width: 120 }
                , { field: 'P02', title: '工单物料规格', hide: false, width: 300 }

                , { field: 'LOCATIONX', title: '站台所在列', hide: false, width: 100 }

                , { field: 'P03', title: '可分配列', hide: false, width: 200 }
                , { field: 'P04', title: '限定批次', hide: false, width: 200 }

                , { field: 'PRIORITY', title: '优先级别', hide: false, width: 100 }
                , { field: 'TASKCOUNT', title: '任务数上限', hide: false, width: 100 }

               
                , { field: 'P05', title: '属性5', hide: true, width: 100 }
                , { field: 'P06', title: '属性6', hide: true, width: 100 }
                , { field: 'P07', title: '属性7', hide: true, width: 100 }
                , { field: 'P08', title: '属性8', hide: true, width: 100 }
                , { field: 'P09', title: '属性9', hide: true, width: 100 }
                , { field: 'P10', title: '属性10', hide: true, width: 100 }

                , { field: 'CONTROLMODE', title: '控制模式', hide: true, width: 100, templet: '#controlmodelTpl' }
                , { field: 'EMEXIT', title: '紧急出口', hide: true, width: 150, templet: '#emexitSwitchTpl' }
                , { field: 'ISCLOSE', title: '是否关闭？', hide: true, width: 100, templet: '#iscloseTpl' }

                , { field: 'OPBY', title: '操作人', hide: false, width: 100 }
                , { field: 'OPMESSAGE', title: '操作消息', hide: false, width: 150 }
                , { field: 'OPDATE', title: '操作日期', hide: false, width: 160 }

                , { field: 'CAPACITY', title: '总容量', hide: true, width: 100 }
                , { field: 'USECAPACITY', title: '已用容量', hide: true, width: 100, style: 'background-color: #000088; color: #fff;' }

                , { title: '操作', width: 200, align: 'center', fixed: 'right', toolbar: '#opbtnbar' }
            ]],
            page: true,
            limit: 100,
            height: 'full-150',
            even: true,
            toolbar: true,
            initSort: {
                field: 'ID' //排序字段，对应 cols 设定的各字段名
                , type: 'asc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
        });

        //监听行工具事件
        table.on('tool(LAY-tablelist)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值

            if (layEvent === 'edit') {
                var planno = $('#PLANNO').val();
                console.log(planno);
                data.WORNO = planno;
                console.log(data);
                //打开编辑窗口
                admin.popup({
                    id: 'LAY-popup-right-new1' //定义唯一ID，防止重复弹出
                    , title: '编辑-站台设置'
                    , type: 1
                    , area: ['800px', '600px']
                    , success: function (layero, index) {

                        layui.view(this.id).render('apps/lbk/stnForm', data)
                            .done(function () {
                                form.render(null, 'layui-stnFrom');

                                //监听提交
                                form.on('submit(layui-stnFrom-submit)', function (data) {
                                    var field = data.field; //获取提交的字段

                                    layer.msg(JSON.stringify(data.field));

                                    //console.log(JSON.stringify(data.field));
                                    //提交 Ajax 成功后，关闭当前弹层并重载表格


                                    admin.req({
                                        type: "post",
                                        url: setter.stnop + '?ACTION=2011',
                                        data: data.field,
                                        dataType: 'json', //返回的类型
                                        success: function (resultdata) {
                                            layer.msg(resultdata.msg);
                                            layui.table.reload('LAY-tablelist-stn'); //重载表格
                                        }
                                    });


                                    layer.close(index); //执行关闭


                                    return false;
                                });

                            });


                    }
                });

            }
            else if (layEvent === 'clear') {
                var msg = "确认清除站台工单分配设置？"
                layer.confirm(msg, { icon: 3, title: '提示' },
                    function (index) {
                        //do something
                        var postdata =
                        {
                            ID: data.ID,
                            STATIONTYPE: data.STATIONTYPE,
                            STATIONNO: data.STATIONNO,
                            TECHNO: data.TECHNO,
                            RELATENO: data.RELATENO
                        };

                        admin.req({
                            type: "post",
                            url: setter.stnop + '?ACTION=2019',
                            data: postdata,
                            dataType: 'json', //返回的类型
                            success: function (resultdata) {
                                layer.msg(resultdata.msg);
                                layui.table.reload('LAY-tablelist-stn'); //重载表格
                            }
                        });


                        layer.close(index); //执行关闭

                    });
            }

        });

        //监听开关操作
        form.on('switch(stationstateSwitch)', function (obj) {
            var stationno = this.value;
            var stationstate = "-1";
            var ifswitch = ""
            if (obj.elem.checked) {
                stationstate = "1";
                ifswitch = "";
                stateSwitch(stationno, stationstate, ifswitch);
            }
            else {

                var msg = '确认停用站台吗？';
                layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {
                    stationstate = "0";
                    ifswitch = "Y";

                    stateSwitch(stationno, stationstate, ifswitch);

                    layer.close(index);
                });
            }
        });

        stateSwitch = function (stationno, stationstate, ifswitch) {

            var postdata =
            {
                ACTION: 2012,
                STATIONNO: stationno,
                STATIONSTATE: stationstate,
                IFSWITCHTOEMEXIT: ifswitch
            };

            admin.req({
                type: "post",
                url: setter.stnop + '?ACTION=2012',
                data: postdata,
                dataType: 'json', //返回的类型
                success: function (resultdata) {
                    layer.msg(resultdata.msg);
                    layui.table.reload('LAY-tablelist-stn'); //重载表格
                }
            });
        }

        //设置应急出库口
        form.on('checkbox(emexitSwitch)', function (obj) {
            var stationno = this.value;
            var emeixtstate = "-1";
            if (obj.elem.checked) {

                var msg = '确认设置为应急出口吗？';
                layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {
                    emeixtstate = "1";
                    emexitSwitch(stationno, emeixtstate);
                    layer.close(index);
                });

            }
            else {

                var msg = '确认关闭应急出口吗？';
                layer.confirm(msg, { icon: 3, title: '提示' }, function (index) {
                    emeixtstate = "0";
                    emexitSwitch(stationno, emeixtstate);
                    layer.close(index);
                });
            }
        });

        emexitSwitch = function (stationno, emeixtstate) {

            var postdata =
            {
                ACTION: 2018,
                STATIONNO: stationno,
                EMEXIT: emeixtstate
            };

            admin.req({
                type: "post",
                url: setter.stnop + '?ACTION=2018',
                data: postdata,
                dataType: 'json', //返回的类型
                success: function (resultdata) {
                    layer.msg(resultdata.msg);
                    layui.table.reload('LAY-tablelist-stn'); //重载表格
                }
            });
        }

        //查询按钮
        form.on('submit(locstn-search)', function (data) {

            var myurl = setter.getstnlist;

            table.reload('LAY-tablelist-stn', {
                url: myurl, where: data.field
            });
            return false;
        });

        query = function (stntype) {
            //layer.msg(stntype);
            var serviceurl = setter.getstnlist + '&STATIONTYPE=' + stntype;
            table.reload('LAY-tablelist-stn', { url: serviceurl });
        }
    });
</script>