<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--servicestack-->
    <add key="servicestack:license" value="3776-e1JlZjozNzc2LE5hbWU6WVVOTkFOS0VSVUlLRUpJLFR5cGU6SW5kaWUsSGFzaDpOUVNwUEhtM3kyT3diaXZ0enJEZVVwMHRvVUVIUmM0SkpBV1dQamNzVTJvMWh0a1FabmRia1gzRTRCazhIUm5jdVdBSHF6ZCthUFZmelVLdWVzVDArc2JTQXZFQTVxWGI2T0tiNUpmSWtkYStqTWhoRENDVGp4S1dVZUliOWdGSlUzQ0c0b1A5ZUhGU0lrbktJZ3hyeFcrUEVSQkt0bXgyVFBhdEpmSERxRjA9LEV4cGlyeToyMDE3LTA1LTA0fQ==" />

  </appSettings>

  <connectionStrings>
    <!--本项目数据库-->
    <add name="CIMS" connectionString="Data Source=10.161.118.33;Initial Catalog=GY_WMSBASE;Persist Security Info=False;User ID=sa;Password=Abc@123456;" providerName="SqlServerDialect.Provider" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>